
@{
    ViewBag.Title = "AddExpenses";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="login_container hvCenter">
    <div class="center_login_area">
        <div class="top_title">
            <h2>Add Expense Data !!</h2>
        </div>
        <div class="login_fields hvCenter">
            <div class="userName f_field">
                <label for="">Expense For</label>
                <input type="text" name="expenseFor" id="expenseFor">
            </div>
            <div class="password f_field">
                <label for="">Expense Amount</label>
                <input type="number" name="expenseAmount" id="expenseAmount">
            </div>
            <div class="password f_field">
                <label for="">Expense By</label>
                <input type="text" name="expenseBy" id="expenseBy">
            </div>
            <div class="password f_field">
                <label for="">Expense Date</label>
                <input type="date" name="expenseDate" id="expenseDate">
            </div>
            <div class="loginBtn f_field">

                <button id="addExpenseData" onclick="addExpenseData()">Add Expense Data</button>
            </div>
            <p id="Massage"></p>
        </div>
    </div>
</div>
<script>

    //Add Data Function
    function addExpenseData() {
        debugger;

        //var res = validate();
        //if (res == false) {
        //    return false;
        //}
        var donationObj = {
            expenseFor: $('#expenseFor').val(),
            expenseAmount: $('#expenseAmount').val(),
            expenseBy: $('#expenseBy').val(),
            expenseDate: $('#expenseDate').val()

        };
        $.ajax({
            url: "/Admin/AddExpenses",
            data: JSON.stringify(donationObj),
            type: "POST",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                if (result) {
                    $("#Massage").html("Data Added Successfully !!").css("color", "green");
                }
                else {
                    $("#Massage").html("Something went Wrong!!").css("color", "red");
                }
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }

</script>

