* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.hvCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_container {
    width: 100%;
    height: auto;
    
}

#addDonation.disabled,
#addExpense.disabled {
    pointer-events: none;
}

.center_login_area {
    width: 45%;
    height: auto;
    background-color: #fff;
    border: 6px groove lawngreen;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(230, 221, 221, 0.2), 0 6px 20px 0 rgba(223, 215, 215, 0.19);
}

    .center_login_area .top_title {
        border-bottom: 3px solid #000;
        text-align: center;
        padding-bottom: 10px;
        width: 80%;
        margin: auto;
    }

    .center_login_area .login_fields {
        margin-top: 20px;
        flex-direction: column;
    }

        .center_login_area .login_fields .f_field {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
            .center_login_area .login_fields .f_field select {
                width: 80%;
                padding: 10px 12px;
                border: none;
                border-radius: 4px;
                border: 2px groove lawngreen;
            }
                .center_login_area .login_fields .f_field select option{
                    padding:4px;
                    background:whitesmoke;
                }

                .center_login_area .login_fields .f_field label,
                .center_login_area .login_fields .f_field input {
                    width: 80%;
                    margin: 4px 0px;
                }

            .center_login_area .login_fields .f_field input {
                padding: 10px 12px;
                border: none;
                border-radius: 4px;
                border: 2px groove lawngreen;
            }

        .center_login_area .login_fields .loginBtn {
            margin-top: 18px;
            margin-bottom: 10px;
        }

            .center_login_area .login_fields .loginBtn input {
                background-color: lawngreen;
                text-align: center;
                font-weight: 700;
                text-transform: uppercase;
            }

.signup_area {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 10px;
}
.width78 {
    width: 78%;
}
.center_login_area .login_fields .btn {
    cursor: pointer;
}

#loginBtn:hover {
    background-color: greenyellow;
}

.center_login_area .login_fields button {
    width: 80%;
    background: lime;
    padding: 10px 0px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

    table td, table th {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: center;
    }

    table tr:nth-child(even) {
        background: darkkhaki;
    }
    table tr:nth-child(odd) {
        background: yellowgreen;
    }

    table tr:hover {
        background-color: #ddd;
    }

    table th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: center;
        background: darkcyan;
        color: white;
    }
