<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sarvajanik Ganesh Utsav Mitra Mandal</title>
    <link href="~/Content/HomeStyle.css" rel="stylesheet" />
</head>
<body>


    <!-- <section class="showData displayFlex">
        <div class="totalDonation">
            <p>Total Donation Amount :00000</p>
        </div>
        <div class="totalExpense">
            <p>Total Expense Amount :00000</p>
        </div>
        <div class="saveAmount">
            <p>Total Save Amount :00000</p>
        </div>

    </section> -->
    <div class="welcome_section">
        @*<div class="leftSection">

        </div>
        <div class="rightSection">

        </div>*@
    </div>

</body>
</html>
<script>
    //$("#addDonation").addClass("disabled");
    //$("#addExpense").addClass("disabled");
    $("#addDonation").hide();
    $("#addExpense").hide();
    $("#logout").hide();


</script>